<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Lista de Contatos</p>

            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Ocorreu um erro!</div>
                </div>
            </div>

            <div class="resposive-table">
                <table class="table my-3">
                    <tr>
                        <td>Luiz</td>
                        <td>Miranda</td>
                        <td>918790890</td>
                        <td>otariomiranda@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Luiz</td>
                        <td>Miranda</td>
                        <td>918790890</td>
                        <td>otariomiranda@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Luiz</td>
                        <td>Miranda</td>
                        <td>918790890</td>
                        <td>otariomiranda@gmail.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>