<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Autenticação</h1>
            <p class="text-center lead">Faça login com seus dados abaixo.</p>
            
            <div class="row">
                <div class="col-lg my-3">
                    <h4>Cadastro</h4>
                    <p class="lead">Se você ainda não tem conta, cadastre-se agora.</p>

                    <form action="/login/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <div class="mb-3">
                          <label class="form-label">Email:</label>
                          <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Senha:</label>
                          <input type="password" class="form-control" name="senha">
                        </div>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                      </form>
                </div>

                <div class="col-lg my-3">
                    <h4>Login</h4>
                    <p class="lead">Se você já tem sua conta, faça sua autenticação.</p>

                    <form action="/login/autenticacao" method="POST">
                        <div class="mb-3">
                          <label class="form-label">Email:</label>
                          <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Senha:</label>
                          <input type="password" class="form-control" name="senha">
                        </div>
                        <button type="submit" class="btn btn-primary">Entrar</button>
                      </form>
                </div>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>